html, body, main {
    height: 100%;
    margin: 0px;
    overflow: hidden;
}
main {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: "nav-left content nav-right"
}
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: "nav-left";
    z-index: 5;
    background-color: #fff;
    transition-duration: 200ms;
}
#nav-left:hover {
    transform: scale(1.2);
}
#nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: "nav-right";
    z-index: 5;
    background-color: #fff;
    transition-duration: 200ms;
}
#nav-right:hover {
    transform: scale(1.2);
}
#content {
    grid-area: "content";
    position: relative;
}
.page {
    width: calc(100% - 128px);
    height: calc(100% - 128px);
    position: absolute;
    display: grid;
    grid-template-rows: 64px 1fr;
    top: 0;
    left: 0;
    transition-duration: 500ms;
    z-index: 1;
    padding: 64px;
}
.front {
    transform: translateX(-100%);
}
.active {
    transform: translateX(0px);
}
.behind {
    transform: translateX(100%);
}
.material-icons.style1 {
    font-size: 96px;
    color: #ccc;
}
h2{
    font-family: Roboto;
    font-size: 2.5rem;
    color: #555;
    margin: 0px;
}
p {
    font-family: Roboto;
}
.code-window{
    margin-top: 12px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 12px;
}